.header-nav {
    display: inline-block;
    width: 90%;
    height: auto;
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    @extend .clear;
    .desktop-quick-nav {
        display: inline-block;
        height: 32px;
        padding: 0;
        margin: 0;
        float: right;
        li {
            display: inline-block;
            height: 100%;
            a {
                border-radius: 4px;
                display: inline-block;
                padding: 5px 10px;
                color: $h-text;
                overflow: hidden;
                position: relative;
                transition: 0.2s linear;
                &::after {
                    content: '';
                    border-radius: 10px;
                     background: $h_active_bg;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    bottom: 50%;
                    left: 50%;
                    transform: translate3d(0, 0, 0);
                    will-change: bottom, left, top, right;
                    transition: 0.15s ease-in;
                }
                // &:hover::after {
                //     top: -10px;
                //     right: -10px;
                //     bottom: -10px;
                //     left: -10px;
                // }
                &:hover {
                    color: darken($h-text, 20%);
                }
            }
        }
    }
    .header-quick-link {
        border-radius: 4px;
        display: inline-block;
        padding: 5px 10px 3px;
        float: right;
        color: #DE8B05;
        position: relative;
        overflow: hidden;
        transition: 0.2s linear;
            &::after {
                content: '';
                border-radius: 10px;
                background: $h_active_bg;
                display: block;
                position: absolute;
                top: 50%;
                right: 50%;
                bottom: 50%;
                left: 50%;
                transform: translate3d(0, 0, 0);
                will-change: bottom, left, top, right;
                transition: 0.2s ease-in;
            }
            // &:hover::after {
            //     top: -10px;
            //     right: -10px;
            //     bottom: -10px;
            //     left: -10px;
            // }
            &:hover {
                    color: darken(#DE8B05, 10%);
                }
    }
}

@media (max-width: $h_break-point){
    .header-nav {
        .desktop-quick-nav {
            display: none
        }
     }
}