.main-nav-drawer {
    background: #fff;
    display: inline-block;
    width: 80%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000;
    will-change: transform;
    transform: translateX(100%); 
    transition: transform 0.2s linear, box-shadow 0.25s linear;
    header {
        border-bottom: 2px solid $h-grey;
        min-height: 62px;
        position: relative;
    }
    .nav-section {
        .link-list {
            a {
                display: block;
                padding: 12px 16px 12px 42px;
                font-size: 16px;
                color: $h_text;
                position: relative;
                transition: 0.2s linear;
                &:first-of-type {
                    padding-top: 16px;
                }
                &:hover {
                        color: darken($h_text, 10%);
                    }
                i {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    text-align: center;
                }
                &.active {
                    background: $h_active_bg;
                    color: $h_active_color;
                     &:hover {
                        color: darken(#DE8B05, 10%);
                    }
                }
            }
        }
    }
}
.main-nav-drawer-active {
    overflow: hidden;
    .main-nav-drawer {
        box-shadow: 0px 0px 6px 1px $h-grey;
    transform: translateX(0);
    } 
}
.main-nav-overlay {
	background: transparent;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: 0.2s linear;
    z-index: 900;
	&.active {
		background: rgba(255,255,255,0.5);
	}
}

@media (max-width: $h_break-point){
    .main-nav-drawer {
        header {
            min-height: 52px;
        }
    }
}
