<header class="header fixed">
	<div class='header__container'>
		<div class="header-logo">
			<a href="index.html">
				<img src="assets/imgs/bt-logo.png" alt="">
				<span class='bt-logo-text'>BoozeTime<span>What time is it? It's booze time.</span></span>
			</a>
		</div>
		<div class="nav-drawer-toggle">
			<span></span>
		</div>
		<nav class='header-nav'>
			<a class='header-quick-link'>signup/login</a>
			<ul class="desktop-quick-nav">
				<li>
					<a href="">nearby deals</a>
				</li>
				<li>
					<a href="">explore</a>
				</li>
			</ul>
		</nav>
	</div>
</header> 

<div class='main-nav-drawer'>
	<header>
		<div class="header-logo">
			<a href="index.html">
				<img src="assets/imgs/bt-logo.png" alt="">
				<span class='bt-logo-text'>BoozeTime<span>What time is it? It's booze time.</span></span>
			</a>
		</div>
		<div class="nav-drawer-toggle">
				<span></span>
			</div>
	</header>
	<nav class='nav-section'>
		<div class="link-list">
			<a class="active"><i class="fa fa-home" aria-hidden="true"></i> home</a>
			<a><i class="fa fa-map-marker" aria-hidden="true"></i> bars nearby</a>
			<a><i class="fa fa-hourglass" aria-hidden="true"></i> happy hours</a>
			<a><i class="fa fa-star" aria-hidden="true"></i> hightest rated</a>
			<a><i class="fa fa-compass" aria-hidden="true"></i> explore</a>
		<div>
	</nav>
</div>