
.site-constraint {
	position: relative;
}
.clear:after, .header-nav:after {
  display: block;
  content: '';
  clear: both; }

/* base header styles **************************************************************
************************************************************************************/
.header {
  border-bottom: 2px solid #bbb;
  background: #fff; }
  .header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 800; }

.header__container {
  max-width: 1440px;
  width: 100%;
  height: auto;
  min-height: 60px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

.header-logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%); }
  .header-logo a {
    display: block;
    cursor: pointer; }
  .header-logo img {
    max-width: 24px;
    vertical-align: baseline; }
  .header-logo .bt-logo-text {
    display: inline-block;
    font-size: 24px;
    color: #555;
    font-family: 'Pacifico', cursive; }
    .header-logo .bt-logo-text span {
      font-family: 'Roboto', sans-serif;
      display: block;
      font-size: 8px;
      margin-top: -3px;
      margin-left: 1px; }

@media (max-width: 600px) {
  .header__container {
    min-height: 50px; }
  .header-logo {
    left: 10px; }
    .header-logo .bt-logo-text {
      font-size: 21px;
      color: #555; }
      .header-logo .bt-logo-text span {
        font-size: 7px; } }

.header-nav {
  display: inline-block;
  width: 90%;
  height: auto;
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%); }
  .header-nav .desktop-quick-nav {
    display: inline-block;
    height: 32px;
    padding: 0;
    margin: 0;
    float: right; }
    .header-nav .desktop-quick-nav li {
      display: inline-block;
      height: 100%; }
      .header-nav .desktop-quick-nav li a {
        border-radius: 4px;
        display: inline-block;
        padding: 5px 10px;
        color: #888;
        overflow: hidden;
        position: relative;
        transition: 0.2s linear; }
        .header-nav .desktop-quick-nav li a::after {
          content: '';
          border-radius: 10px;
          background: rgba(220, 220, 220, 0.3);
          display: block;
          position: absolute;
          top: 50%;
          right: 50%;
          bottom: 50%;
          left: 50%;
          transform: translate3d(0, 0, 0);
          will-change: bottom, left, top, right;
          transition: 0.15s ease-in; }
        .header-nav .desktop-quick-nav li a:hover {
          color: #555555; }
  .header-nav .header-quick-link {
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px 3px;
    float: right;
    color: #DE8B05;
    position: relative;
    overflow: hidden;
    transition: 0.2s linear; }
    .header-nav .header-quick-link::after {
      content: '';
      border-radius: 10px;
      background: rgba(220, 220, 220, 0.3);
      display: block;
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      transform: translate3d(0, 0, 0);
      will-change: bottom, left, top, right;
      transition: 0.2s ease-in; }
    .header-nav .header-quick-link:hover {
      color: #ac6c04; }

@media (max-width: 600px) {
  .header-nav .desktop-quick-nav {
    display: none; } }

.main-nav-drawer {
  background: #fff;
  display: inline-block;
  width: 80%;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1000;
  will-change: transform;
  transform: translateX(100%);
  transition: transform 0.2s linear, box-shadow 0.25s linear; }
  .main-nav-drawer header {
    border-bottom: 2px solid #bbb;
    min-height: 62px;
    position: relative; }
  .main-nav-drawer .nav-section .link-list a {
    display: block;
    padding: 12px 16px 12px 42px;
    font-size: 16px;
    color: #888;
    position: relative;
    transition: 0.2s linear; }
    .main-nav-drawer .nav-section .link-list a:first-of-type {
      padding-top: 16px; }
    .main-nav-drawer .nav-section .link-list a:hover {
      color: #6f6f6f; }
    .main-nav-drawer .nav-section .link-list a i {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      text-align: center; }
    .main-nav-drawer .nav-section .link-list a.active {
      background: rgba(220, 220, 220, 0.3);
      color: #DE8B05; }
      .main-nav-drawer .nav-section .link-list a.active:hover {
        color: #ac6c04; }

.main-nav-drawer-active {
  overflow: hidden; }
  .main-nav-drawer-active .main-nav-drawer {
    box-shadow: 0px 0px 6px 1px #bbb;
    transform: translateX(0); }

.main-nav-overlay {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.2s linear;
  z-index: 900; }
  .main-nav-overlay.active {
    background: rgba(255, 255, 255, 0.5); }

@media (max-width: 600px) {
  .main-nav-drawer header {
    min-height: 52px; } }

.nav-drawer-toggle {
  display: inline-block;
  width: 30px;
  height: 20px;
  background: transparent;
  position: absolute;
  top: calc(50% - 10px);
  right: 15px; }
  .nav-drawer-toggle span, .nav-drawer-toggle::after, .nav-drawer-toggle::before {
    background: #bbb;
    height: 2px;
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .nav-drawer-toggle::after {
    content: '';
    top: 0px; }
  .nav-drawer-toggle::before {
    content: '';
    bottom: 0px; }
  .nav-drawer-toggle span {
    top: calc(50% - 1px); }

/*# sourceMappingURL=main.css.map */
