/* base header styles **************************************************************
************************************************************************************/
$h_grey: #bbb;
$h_text: #aaa;
$h_active_bg: rgba(220,220,220,0.3);
$h_active_color: #DE8B05;

$h_break-point: 600px;

.site-constraint {
	position: relative;
}
.clear {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.header {
	border-bottom: 2px solid $h_grey;
	background: #fff;
	box-sizing: border-box;
	&.fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 800; 
	}
	*:after,
	*:before,
	* {
	box-sizing: border-box;
	}
	a {
		text-decoration: none;
	}
}
.header__container {
	max-width: 1440px;
	width: 100%;
	height: auto;
	min-height: 60px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.header-logo {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	a {
		display: block;
		cursor: pointer;
		text-decoration: none;
	}
	img {
		max-width: 24px;
		vertical-align: baseline;
	}
	.bt-logo-text {
		display: inline-block;
		font-size: 24px;
		color: #555;
		font-family: 'Pacifico', cursive;
		span {
			font-family: 'Roboto', sans-serif;
			display: block;
			font-size: 8px;
			margin-top: -3px;
			margin-left: 1px;
		}
	}
}

@media (max-width: $h_break-point){
    .header__container {
		min-height: 50px;
	}
	.header-logo {
	left: 10px;
	img {
		// max-width: 20px;
	}
	.bt-logo-text {
		font-size: 21px;
		color: #555;
		span {
			font-size: 7px;
		}
	}
}
}
