.nav-drawer-toggle {
	display: inline-block;
	width: 30px;
	height: 20px;
	background: transparent;
	position: absolute;
	top: calc(50% - 10px);
	right: 15px;
	span, 
	&::after,
	&::before {
		background: $h_grey;
		height: 2px;
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
	}
	&::after {
		content: '';
		top: 0px;
	}
	&::before {
		content: '';
		bottom: 0px;
	}
	span {
		top: calc(50% - 1px); 
	}
}


